PORT=

JWTKEY=
TOKEN_EXPIRATION=
BEARER=Bearer
CLIENT_URL_DEV_1=
CLIENT_URL_PROD_1=

NODE_ENV=development
# NODE_ENV=production
# NODE_ENV=test

# database

DB_PORT=
DB_HOST=localhost
DB_DIALECT=postgres
DB_DATABASE
DB_USERNAME=
DB_PASSWORD=
